@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  transition: all 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.color {
  background: linear-gradient(to right, #ff66b2, #ff8c00);
  background-clip: text; /* Clips the background to the text */
  -webkit-background-clip: text; /* Webkit-specific background clip */
  -webkit-text-fill-color: transparent; /* Makes text transparent so background shows through */
}

/* skeleton animation for linkPanel */

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 0.4s linear infinite alternate;
  -webkit-animation: skeleton-loading 0.4s linear infinite alternate;
}
.scroll {
  scrollbar-width: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 90%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.scroll {
  scrollbar-width: none;
}

/* Add these styles after your existing CSS */
html {
  background-color: white;
  color: black;
  transition: background-color 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52),
    color 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
}

html.dark {
  background-color: black;
  color: white;
  transition: background-color 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52),
    color 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
}
